#campaigns-filters {
  label {
    input {
      visibility: hidden;
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  }
}

#campaigns-table {
  tbody tr:hover td {
    background-color: #D7EDFD !important;
    cursor: pointer;
  }
}
