/*
* View styles.
*/

#main{
  min-height:800px;
}

/* Search directive */
#searchForm{
  margin:0 0 20px;
}

/* Update to datatables layout requires some styling changes */
.dataTables_wrapper{
  .dataTables_length {
    float: left;
    margin: 0 0 15px 0;
    padding: 15px 0;
  }
  .pagination{display:none;}
  &.paged{
    .pagination{display:block;}
  }
}