<div>
	<form id="searchForm" ng-submit="submit()">
		<div class="input-group">
			<input class="form-control" placeholder="Search By {{search.type}}..." ng-model="search.value">
			<div class="input-group-btn">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="fa fa-search"></span>
					{{search.type}}
					<span class="fa fa-caret-down"></span>
				</button>
				<ul class="dropdown-menu pull-right">
					<li ng-repeat="type in search.types">
						<a ng-click="search.type = type">
							<span class="fa fa-check" ng-show="search.type == type"></span>
							{{type}}
						</a>
					</li>
				</ul>
			</div>
		</div>
	</form>
	<div class="alert" ng-show="alert.text" ng-class="'alert-' + alert.type">
		{{alert.text}}
	</div>
	<table class="display table table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
		</tr>
	</thead>

	<tfoot>
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
		</tr>
	</tfoot>

	<tbody>

	</tbody>
</table>
</div>