<div data-test="confirm-dialog">
  <p ng-if="message !== false">{{message || 'Are you sure you want to perform this action?'}}</p>
  <p ng-if="description">{{description}}</p>

  <div ng-if="template" ng-include="template"></div>

  <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(false)" data-test="dialog-no-button">{{noText || 'No'}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(true)" data-test="dialog-yes-button">{{yesText || 'Yes'}}</button>
  </div>
</div>
