<h3>Campaigns</h3>

<div ng-if="flags.campaignsLoading" ng-include="templates.spinner"></div>

<div ng-show="!flags.campaignsLoading">
  <div class="btn-group" id="campaigns-filters">
    <label class="btn btn-default" ng-class="{'btn-primary': flags.activeFilter=='all'}">
      <input type="radio" value="all" ng-model="flags.activeFilter"/> All
    </label>
    <label class="btn btn-default" ng-class="{'btn-primary': flags.activeFilter=='active'}">
      <input type="radio" name="active-filter" value="active" ng-model="flags.activeFilter" /> Active
    </label>
    <label class="btn btn-default" ng-class="{'btn-primary': flags.activeFilter=='pending'}">
      <input type="radio" name="active-filter" value="pending" ng-model="flags.activeFilter" /> Pending
    </label>
    <label class="btn btn-default" ng-class="{'btn-primary': flags.activeFilter=='expired'}">
      <input type="radio" name="active-filter" value="expired" ng-model="flags.activeFilter" /> Expired
    </label>
    <label class="btn btn-default" ng-class="{'btn-primary': flags.activeFilter=='disabled'}">
      <input type="radio" name="active-filter" value="disabled" ng-model="flags.activeFilter"  /> Disabled
    </label>
  </div>
  <dynamic-table config="campaignsTable" id="campaigns-table"></dynamic-table>
</div>
