<div ng-if="campaignLoading" ng-include="templates.spinner"></div>

<div ng-show="!campaignLoading">
  <h2>Campaign: {{campaignDetails.name || campaignId}}</h2>
  <p>{{campaignDetails.description}}</p>

  <h4>Redemption Progress</h4>
  <p>{{campaignDetails.totalRedeemedVoucherCount}} of {{campaignDetails.totalVoucherCount}} redeemed.
    <span ng-if="campaignDetails.daysRemaining > 1 || campaignDetails.daysRemaining == 0">{{campaignDetails.daysRemaining}} days remaining.</span>
    <span ng-if="campaignDetails.daysRemaining == 1">{{campaignDetails.daysRemaining}} day remaining.</span>
    <span ng-if="campaignDetails.daysRemaining < 0">Campaign finished {{-campaignDetails.daysRemaining}} day(s) ago</span>
  </p>
  <div class="progress">
    <div class="progress-bar progressbar-info" role="progressbar"  style="width: {{campaignDetails.redemptionPercentage}}%; min-width: 25px;">
      {{campaignDetails.redemptionPercentage}}%
    </div>
  </div>

  <h3>Campaign details</h3>
  <dl class="dl-horizontal">
    <dt>Campaign ID</dt>
    <dd>{{campaignDetails.id}}</dd>

    <dt>Name</dt>
    <dd>{{campaignDetails.name}}</dd>

    <dt>Description</dt>
    <dd>{{campaignDetails.description}}</dd>

    <dt># Vouchers</dt>
    <dd>{{campaignDetails.totalVoucherCount}}</dd>

    <dt># Redeemed</dt>
    <dd>{{campaignDetails.totalRedeemedVoucherCount}}</dd>

    <dt>Redemption Limit</dt>
    <dd>{{campaignDetails.redemptionLimit}}</dd>


    <dt>Action</dt>
    <dd>{{campaignDetails.action}}</dd>

    <dt>Credit Amount</dt>
    <dd>{{campaignDetails.creditAmount.amount}} {{campaignDetails.creditAmount.currency}}</dd>

    <dt>Enabled</dt>
    <dd>{{campaignDetails.enabled ? 'Yes' : 'No'}}</dd>

    <dt>Start Date</dt>
    <dd>{{campaignDetails.startDate | date:'medium'}}</dd>

    <dt>End Date</dt>
    <dd>{{campaignDetails.endDate | date:'medium'}}</dd>

    <dt>Creation Date</dt>
    <dd>{{campaignDetails.createdAt | date:'medium'}}</dd>


    <dt>Created by user id</dt>
    <dd>{{campaignDetails.createdBy}}</dd>
  </dl>

  <p><a ng-click="editCampaign()" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-primary">{{campaignDetails.enabled ? 'Disable' : 'Enable'}}</a> <a href="#" class="btn btn-primary">Get Vouchers</a></p>
</div>
