<section class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Personal details</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-2"><strong>First Name</strong></div>
			<div class="col-lg-2" ng-bind="user.first_name"></div>
		</div>
		<div class="row">
			<div class="col-lg-2"><strong>Last Name</strong></div>
			<div class="col-lg-2" ng-bind="user.last_name"></div>
		</div>
		<div class="row">
			<div class="col-lg-2"><strong>Username</strong></div>
			<div class="col-lg-2" ng-bind="user.username"></div>
		</div>
		<div class="row">
			<div class="col-lg-2"><strong>ID</strong></div>
			<div class="col-lg-2" ng-bind="user.id"></div>
		</div>
	</div>
</section>
<section class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Transaction History</h3>
	</div>
	<div class="panel-body">
		<dynamic-table config="config.transactions" class="table"></dynamic-table>
	</div>
</section>
<section class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Email Change History</h3>
	</div>
	<div class="panel-body">
		<dynamic-table config="config.email"></dynamic-table>
	</div>
</section>
<!--TODO add credit form-->
